body {
  margin: 0;
}

/* GRID CONTAINER */
.grid {
  height: min-content;
  /*width: 100vw;*/

  font-family: Verdana, Geneva, Tahoma, sans-serif;

  display: grid;

  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr ;

  /*gap: 10px;*/

  /*padding: 10px;*/
  box-sizing: border-box;
}
/*
.grid div {
    padding: 10px;
    border:1px solid black;
}
*/
/* SUB MENU */
.subMenu {
  grid-column-start: 1;
  grid-column-end: 2;
}

.subMenu ul {
  /* referance from www.w3chools.com */
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

.subMenu a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.subMenu a:hover {
  background-color: #555;
  color: white;
}


main {
  grid-column-start: 2;
  grid-column-end: 3;
}

.buttons {
  padding: 30px;
}

.buttons button {
  width: 100px;
  height: 40px;
  margin-left: 20px;
}

.topic {
  padding: 10px;
  font-size: 30px;
}

.topic hr {
  height: 3px;
  width: 100%;
  border-width: 0;
  background-color: gray;
}

.recipe-img {
  display: block;
  margin: auto;
  object-fit: cover;
}

.recipe-container {
  margin-top: 4rem;
  padding-top: 10px;
  padding-left: 60px;
  padding-right: 40px;
}

button {
  width: 120px;
  height: 40px;
  float: right;
  cursor: pointer;
  font-weight: bold;
  border: 0;
  outline: none;
  color: white;
  background-color: black;
  border-radius: 0.25rem;
}

button:hover {
  background-color: #eba83a;
}

.recipe-top {
  padding: 4rem 3.5rem 0 0;
}

.recipe-lb {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
  padding: 1.8rem 0 0 4.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1 0 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.margin-bt {
  margin-bottom: 3rem;
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
}

.box-title {
  text-align: left;
  padding-left: 10px;
}

.box-text {
  margin: auto;
}

.box:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.r-name {
  /* recipe name */
  text-decoration: none;
  color: black;
}

h4 {
  font-family: "Glory", sans-serif;
  font-size: 18px;
}

.box-md {
  font-family: "Glory", sans-serif;
  font-size: 18px;
  text-align: left;
  padding-left: 10px;
  pointer-events: none;
  font-weight: 600;
}

#time {
  /* cooking time */
  font-size: 18px;
  text-transform: uppercase;
  float: right;
  margin-right: 15px;
}
